/************
RESET
************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************
COMMON
************/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(0,151,136);
    background: linear-gradient(180deg, rgba(0,151,136,1) 16%, rgba(223,221,208,1) 16.1%, rgba(210,218,220,1) 100%);
}

.container {
    max-width: 75rem;
    width: 80%;
    max-height: 50rem;
    height: 95%;
    display: flex;
}

img {
    max-height: 100%;
    display: block;
}

/************
ASIDE
************/

aside {
    background-color: #fff;
    width: 31.25rem;
    display: flex;
    flex-direction: column;
}

/************
ASIDE TOP
************/
/******** aside top menu ********/

aside .top .menu {
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: .625rem;
    background-color: #eaeaea;
    border: 1px solid #dedede;
}

/******** aside top menu profile ********/

aside .top .menu .profile {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

aside .top .menu .personal-picture {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
} 

aside .top .menu .profile .profile-name {
    color: #3c434d;
}

/******** aside top menu nav ********/

aside .top .menu nav {
    padding-right: .25rem;
    color: #b1b2ad;
}

aside .top .menu nav > * {
    padding: .375rem;
}

/******** aside top notifications ********/

aside .top .notifications {
    height: 4.375rem;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
}

aside .top .notifications .notifications-icon {
    background-color: #f5f9ff;
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: 50%;
    color: #8edafc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

aside .top .notifications .notifications-content {
    display: flex;
    flex-direction: column;
}

aside .top .notifications .notifications-content span {
    color: #3c434d;
}

aside .top .notifications .notifications-content a {
    color: #589bb6;
}

/******** aside top search ********/

aside .top .search {
    height: 2.8125rem;
    background-color: #fafafa;
    border: 1px solid #fcfcfc;
    padding: .4375rem;
}

aside .top .search .search-input-container {
    background-color: #fff;
    border: 1px solid #f8f8f8;
    height: 100%;
    display: flex;
    align-items: center;
    color: #b1b2ad;
}

aside .top .search .search-input-container i {
    padding: 0 1.5625rem;
    border-right: 1px solid #fcfcfc;
}

aside .top .search .search-input-container input {
    border: none;
    width: 100%;
    padding: .3125rem;
}

aside .top .search .search-input-container input::placeholder {
    color: #b1b2ad;
    font-size: .6875rem;
}

/******** aside top contacts ********/

aside .contacts {
    overflow-y: scroll;
    background-color: #fff;
    flex-grow: 1;
    border-bottom: .0625rem solid #fafafa;
}

aside .contacts .contact {
    display: flex;
    align-items: center;
    height: 4.375rem;
    padding-right: .5625rem;
    border-bottom: 1px solid #fafafa;
}

aside .contacts .contact .contact-content {
    display: flex;
    flex-grow: 1;
}

aside .contacts .contact .contact-picture {
    height: 3.4375rem;
    width: 3.4375rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1.0625rem;
}

aside .contacts .contact .contact-info {
    flex-grow: 1;
}

aside .contacts .contact .contact-info .contact-name {
    color: #3c434d;
}

aside .contacts .contact .contact-info .contact-last-message,
aside .contacts .contact .contact-last-access {
    color: #b1b2ad;
}

.active-contact {
    background-color: #e9ebea;
}

/************
MAIN VIEW
************/

.main-view {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.main-view .chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-view header {
    height: 3.75rem;
    background-color: white;
}

.main-view main {
    background-color: lightblue;
    flex-grow: 1;
    overflow-y: scroll;
}

.main-view footer {
    height: 3.75rem;
    background-color: white;
}